.calendar-event {
  background-color: rgb(133, 212, 96);
  white-space: normal !important;
}

.calendar-event:hover {
  background-color: rgb(111, 175, 82) !important;
  max-width: 100%;
}

.calendar-view * {
  color: black !important;
  text-decoration: none;
  max-height: 680px;
  min-width: 100%;
}

.fc-customButton-button {
  background-color: #2ecc71;
  color: #ad0c0c;
  border: none;
  box-shadow: none;
}

.create-event-form-field {
  margin-bottom: 20px;
}

@media (max-width: 1500px) {
  .calendar-view * {
    max-height: 635px;
    min-width: 100%;
  }
}

@media (max-width: 790px) {
  .calendar-view * {
    max-height: 635px;
    min-width: 100%;
  }
}
