.dashboard-finance-card {
  width: 100%;
  height: 45%;
  border-radius: 10px;
  padding: 2%;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.revenue-title {
  margin-top: -117px;
  margin-left: 184px;
}

.expenses-title {
  margin-top: -117px;
  margin-left: 183px;
}

.financial-doughnut {
  max-height: 200px;
  max-width: 650px;
  margin-top: 40px;
  margin-left: 80px;
}

.doughnut-flex {
  display: flex;
  margin-left: -100px;
  width: 80%;
}

.statistics-container {
  margin-left: 145px;
  margin-top: -10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.counter-section {
  width: 100px;
  height: 200px;
  flex-direction: column;
  margin: auto;
  margin-right: -70px;
  margin-top: -110px;
}

.counter-text {
  display: inline;
  margin-left: 10px;
  font-weight: 700;
}

.counter-value {
  font-size: 18px;
  margin-left: 32px;
  font-weight: normal;
}
