.setlist-page {
  display: flex;
  background-color: #f3f3f5;
}

.setlist-main-content {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.setlists {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;
  padding: 1%;
  width: 70%;
  height: 95%;
  display: flex;
}

.setlist-list-section {
  width: 30%;
  padding-right: 1%;
  display: flex;
  flex-direction: column;
}

.setlist-song-section {
  width: 70%;
  padding-left: 2%;
  max-height: 100%;
  overflow-y: auto;
}

.add-song-button {
  background-color: #7ba8db;
  border: 0px solid black;
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
  max-height: 35px;
  color: rgb(0, 0, 0);
}

.add-song-button:hover {
  background-color: #5787be;
}

.song-list-scroll-container {
  max-height: 810px;
  overflow-y: auto;
}

.add-song-button-icon {
  margin-top: -2px;
  margin-left: 10px;
}

.song-list-title {
  margin-bottom: 20px;
}

.song-viewer-title {
  margin-bottom: 28px;
}

.no-songs-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

@media (max-width: 1780px) {
  .setlist-main-content {
    padding-top: 0%;
  }
}

@media (max-width: 1500px) {
  .song-list-scroll-container {
    max-height: 680px;
  }

  .setlist-main-content {
    margin-left: 100px;
    height: 100vh;
  }
}

@media (max-width: 1110px) {
  .setlist-song-section {
    width: 100%;
  }

  .setlists {
    height: 700px;
    width: 100%;
  }
}

@media (max-width: 1005px) {
  .add-song-button {
    padding-left: 2%;
    padding-right: 2%;
  }

  .add-song-button-icon {
    margin-left: 0px;
  }
}

@media (max-width: 895px) {
  .setlists {
    flex-direction: column;
  }

  .setlist-list-section {
    height: 40%;
    width: 100%;
    margin-bottom: 15px;
  }

  .song-list-title {
    margin-bottom: 5px;
  }

  .song-viewer-title {
    margin-bottom: 10px;
  }

  .no-songs-text {
    margin-top: 50px;
  }
}

@media (max-width: 850px) {
  .setlists {
    height: 685px;
    width: 90%;
  }
}

@media (max-width: 550px) {
  .setlists {
    width: 100%;
  }

  .setlist-main-content {
    margin-left: 80px;
  }
}
