.members-page {
  display: flex;
  background-color: #f3f3f5;
}

.members-main-content {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.members-area {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;
  padding: 2%;
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.members-title {
  margin-bottom: 30px;
}

@media (max-width: 1500px) {
  .members-main-content {
    height: 100vh;
    margin-left: 80px;
  }

  .members-area {
    width: 99%;
  }
}

@media (max-width: 800px) {
  .members-title {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}
