.todos-overview {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 725px;
  overflow-y: auto;
  margin-top: 25px;
}

@media (max-width: 1500px) {
  .todos-overview {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    margin-top: 25px;
  }
}
