.todos-overview {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 725px;
  overflow-y: auto;
  margin-top: 10px;
}

.no-tasks-text {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

@media (max-width: 1500px) {
  .todos-overview {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    overflow-y: auto;
  }
}
