.finance-graph-card {
  width: 100%;
  height: 70%;
  border-radius: 10px;
  padding: 2%;
  padding-bottom: 6%;
  overflow: hidden;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.finance-graph {
  margin-top: 10px;
}
