.sentMessage {
  color: white;
  margin-bottom: 0px;
}

.sentBubble {
  margin-bottom: 10px;
  background-color: #8275a7;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  max-width: 350px;
  margin-left: auto;
  word-wrap: break-word;
}

.receivedMessage {
  color: white;
  margin-bottom: 0px;
}

.receivedBubble {
  margin-bottom: 10px;
  background-color: #cc8e6f;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  max-width: 350px;
  margin-right: auto;
  word-wrap: break-word;
}

.sentMessage-name {
  font-size: 16px;
}

.receivedMessage-name {
  font-size: 16px;
}

.message-split {
  margin-top: -13px;
  margin-bottom: 8px;
}
