.song-instance {
  background-color: #e3e3e6;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
}

.delete-icon-song {
  visibility: hidden;
}

.song-instance:hover .delete-icon-song {
  visibility: visible;
}

.song-card-button {
  border: none;
  background-color: transparent;
  min-width: 100%;
  padding: 0%;
  margin-bottom: 5px;
}

@media (max-width: 895px) {
  .song-instance {
    padding: 1%;
  }
}
