.song-instance {
  background-color: #e3e3e6;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
}

.delete-icon-song {
  visibility: hidden;
}

.song-instance:hover .delete-icon-song {
  visibility: visible;
}
