.band-creation-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.band-creation-card {
  width: 35%;
  height: 65%;
  padding: 1%;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.band-creation-form {
  width: 100%;
}

.bandname-field {
  height: 50px;
  border-radius: 15px;
}

.bandname-button {
  margin-top: 20px;
  width: 190px;
  height: 44px;
  font-size: 17px;
  border-width: 0px;
  background: #23a6d5;
  background-size: 200% 200%;
  border-radius: 50px;
}

@media (max-width: 1500px) {
  .band-creation-container {
    height: 100vh;
    margin-left: 100px;
  }

  .band-creation-card {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  .band-creation-card {
    width: 70%;
    padding: 2%;
  }
}

@media (max-width: 700px) {
  .band-creation-card {
    width: 95%;
    padding: 2%;
  }

  .band-creation-container {
    margin-left: 80px;
  }
}
