.mobile-events-container {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;
  padding: 2%;
  height: 100%;
  width: 90%;
}

.mobile-events-scrollbox {
  max-height: 550px;
  overflow-y: auto;
}
