.sidebar-main {
  height: 100vh;
}

.sidebar {
  height: 100vh;
  color: aliceblue;
}

.sidebar-flex {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 55px;
}

.nav-toggle {
  background-color: transparent;
  border-style: hidden;
  color: aliceblue;
  margin-left: 15px;
}

.sidebar-title {
  margin-bottom: -5px;
}

.menu-item {
  margin-top: 20px;
}

.menu-bottom {
  position: fixed;
  bottom: 0;
  width: 13%;
}

.link {
  text-decoration: none;
  color: white;
}

.band-select-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-band-button {
  background-color: #7ba8db;
  border: 0px solid black;
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
  max-height: 35px;
  color: rgb(0, 0, 0);
  font-size: 15px;
}

.add-band-button:hover {
  background-color: #5787be;
}

@media (max-width: 1500px) {
  .sidebar-main {
    position: fixed;
  }
}
