.sidebar {
  height: 100vh;
  color: aliceblue;
}

.sidebar-flex {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 55px;
}

.nav-toggle {
  background-color: transparent;
  border-style: hidden;
  color: aliceblue;
  margin-left: 15px;
}

.sidebar-title {
  margin-bottom: -5px;
}

.menu-item {
  margin-top: 20px;
}

.menu-bottom {
  height: 22vh;
}

.link {
  text-decoration: none;
  color: white;
}
