.calorie-entry {
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
  width: 420px;
  height: 388px;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.calorie-entry-form-field {
  margin-bottom: 15px;
  margin-top: 5px;
  margin-left: 20px;
  width: 380px;
}
