.nav-link.active {
  background-color: #e1e2e4 !important;
  color: #1c71d3 !important;
  border-color: #e1e2e4 !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav-link {
  color: #000000 !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tab-content {
  padding: 1%;
}
