.tasks-page {
  display: flex;
  background-color: #f3f3f5;
}

.tasks-main-content {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: auto;
}

.task-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.column-container {
  border-color: #ffffff;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 2%;
}

.task-column {
  padding: 4%;
  width: 300px;
  min-height: 700px;
  max-height: 700px;
  overflow-y: auto;
  border-radius: 20px;
}

.task-item {
  margin-bottom: 10px;
  border-radius: 10px;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.item-content {
  margin: 0%;
  font-size: 18px;
  font-weight: 500;
}

.item-date {
  margin: 0%;
  font-size: 14px;
}

.delete-icon {
  visibility: hidden;
}

.task-item:hover .delete-icon {
  visibility: visible;
}

@media (max-width: 1680px) {
  .column-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 1500px) {
  .tasks-main-content {
    padding-left: 75px;
  }

  .column-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 1440px) {
  .task-column {
    width: 250px;
  }
}

@media (max-width: 1234px) {
  .task-column {
    width: 235px;
  }
}

@media (max-width: 1174px) {
  .column-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .task-list-container {
    justify-content: center;
    height: 100%;
  }
}

@media (max-width: 899px) {
  .column-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .task-column {
    width: 300px;
  }
}

@media (max-width: 753px) {
  .task-column {
    width: 400px;
  }
}

@media (max-width: 525px) {
  .task-column {
    width: 300px;
  }
}

@media (max-width: 407px) {
  .task-column {
    width: 250px;
  }
}
