.bandchat-main-content {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  max-height: 1000px;
}

.band-chat {
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 20px;
  padding: 1%;
  width: 70%;
  height: 95%;
  display: flex;
}

.participants-chat-section {
  width: 30%;
  padding-right: 1%;
}

.main-chat-section {
  width: 100%;
  padding-left: 1%;
  display: flex;
  flex-direction: column;
}

.chat-box {
  background-color: rgb(227, 230, 230);
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.message-input-group {
  width: 100%;
  margin-top: 15px;
}

.message-input {
  width: 100%;
  height: 50px;
  padding: 1.5%;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(250, 210, 161);
  background-color: rgb(250, 210, 161);
  margin-left: auto;
  margin-right: auto;
  color: black;
}

@media (max-width: 1700px) {
  .bandchat-main-content {
    max-height: 910px;
  }
}

@media (max-width: 1500px) {
  .bandchat-main-content {
    margin-left: 100px;
    width: 100%;
    padding: 0%;
    max-height: 880px;
  }
}

@media (max-width: 950px) {
  .band-chat {
    width: 97%;
    padding-right: 0px;
  }

  .main-chat-section {
    width: 97%;
  }

  .bandchat-main-content {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 80px;
    height: 100vh;
  }
}
